@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  border-color: #c3c9da;
}

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;1,500;1,700&family=DM+Serif+Display&display=swap");

input::placeholder {
  @apply text-icon_background;
}

select {
  appearance: none;
  outline: none;
}
select * {
  padding: 1rem auto;
  color: #2d4379;
  border-bottom: 1px solid #ccc;
}

p,
span,
h6,
* {
  @apply text-sm text-black;
}
a {
  @apply text-primary;
}

p {
  @apply text-grey_text;
}

.logo {
  font-family: "DM Serif Display", serif;
  @apply text-primary font-medium;
}

small,
sup,
sub,
.footnote {
  @apply text-xs text-black;
  font-weight: 400;
}

h1 {
  @apply text-5xl text-black font-bold;
}

h2 {
  @apply text-2xl text-black;
  line-height: 36px;
}

h3 {
  @apply text-xl font-semibold text-black;
}

h4 {
  @apply text-xl text-black;
  font-weight: 400;
}

h5 {
  @apply text-base text-black;
  font-weight: 500;
}

.container {
  padding-left: 16px;
  padding-right: 16px;
}

.PhoneInput {
  overflow: hidden;
  @apply mt-2 mb-8 border rounded-md w-full;
}

.PhoneInput .PhoneInputCountry {
  background-color: #e3e6ed;
  @apply p-5 gap-5;
}

.PhoneInput input {
  outline: none;
  @apply p-4 outline-hidden;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: -8px;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 3px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  @apply bg-primary;
}

/* Tablet */

@media screen and (min-width: 768px) {
  p,
  h6 {
    @apply text-base;
  }

  h1 {
    @apply text-6xl;
  }

  h2 {
    @apply text-5xl;
  }

  h3 {
    @apply text-3xl font-bold;
  }

  h4 {
    @apply text-2xl font-semibold;
  }

  h5 {
    @apply text-lg;
  }

  .banner {
    margin-top: 130px;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  input:checked + .slider {
    @apply bg-primary;
  }
}

/* Desktop */

@media screen and (min-width: 1025px) {
  .move-left {
    margin-left: 50vw;
  }

  h1 {
    @apply text-7xl;
  }

  h2 {
    @apply text-6xl;
  }

  h3 {
    @apply text-3xl font-bold;
  }

  h4 {
    @apply text-2xl font-medium;
    font-weight: 400;
  }

  h5 {
    @apply text-lg;
  }

  .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  /* .banner{
    margin-top: 130px;
  } */
}

/* Customize the label (the container) */
.checkbox_container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox_container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border: 1px solid #c3c9da;
  border-radius: 5px;
}

/* On mouse-over, add a grey background color */
.checkbox_container:hover input ~ .checkmark {
  background-color: #c3c9da;
}

/* When the checkbox is checked, add a blue background */
.checkbox_container input:checked ~ .checkmark {
  @apply bg-primary border-none;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox_container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox_container .checkmark:after {
  left: 7px;
  top: 3.7px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

article {
  position: relative;
  width: fit;
  box-sizing: border-box;
  border-radius: 4px;
  @apply border-primary border bg-faded;
}

article div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 25px;
  padding: 10px 20px;
  transition: 0.5s ease;
}

article input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

input[type="checkbox"]:checked ~ div {
  @apply bg-primary;
}
input[type="checkbox"]:checked ~ div span {
  @apply text-white;
}

/* input:focus + .slider {
  box-shadow: 0 0 1px $primary;
} */

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  border-radius: 4px;
  @apply border-primary border;
}

.checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}

.checkbox input:checked ~ .checkmark {
  @apply bg-primary;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox input:checked ~ .checkmark:after {
  display: block;
}

.checkbox .checkmark:after {
  left: 5px;
  top: 3.5px;
  width: 5.5px;
  height: 8px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: fit-content;
}

.dropdown .dropbtn {
  @apply p-4;
}

.dropdown-content p {
  padding: 5px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  @apply bg-white rounded-md;
}

tr.hide-table-padding td {
  padding: 0;
}

.expand-button {
  position: relative;
}

.accordion-toggle .expand-button:after {
  position: absolute;
  left: 0.75rem;
  top: 50%;
  transform: translate(0, -50%);
  content: "-";
}
.accordion-toggle.collapsed .expand-button:after {
  content: "+";
}
